<!DOCTYPE html>
<head>
   <title>RPi Web Server</title>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <!-- Latest compiled and minified JavaScript -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  min-height: 20vh;
}
.btn {
   height: 100%;
}
body{
   background-color: #696969;
}
h1{
   color:white;
}
</style>
</head>

<body>
   <h1>RPi Web Server</h1>
   <div>{{pins}}</div>
   {% for room in pins %}
   <div class="grid-container">
	{% for pin in room %}
		<div class="grid-item">{{pin}}</div>
   		<!--{ if room[pin].state == true %}
		<div class="grid-item"><a href="/{{room}}/{{pin}}/off" class="btn btn-block btn-lg btn-secondary" role="button">Turn room[pin].name}} off</a></div>
   		{ else %}
		<div class="grid-item"><a href="/{{room}}/{{pin}}/on" class="btn btn-block btn-lg btn-primary" role="button">Turn room[pin].name}} on</a></div>
		{ endif %}-->
	{% endfor %}
   </div>
   {% endfor %}
</body>
</html>
